@font-face {
    font-family: GameCube;
    src: url(Fonts/GamecubenDualset-L85D.ttf);
}

.gamecube {
    font-family: GameCube;
}

.btn-outline-success {
    color: #596488;
    border-color: #596488;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #596488;
    border-color: #596488;
}