@font-face {
    font-family: GameCube;
    src: url(Fonts/GamecubenDualset-L85D.ttf);
}

.gamecube {
    font-family: GameCube;
}

.theme-button {
    background-color: #424e75;
    color: #fefefe;
}

.btn-outline-success {
    color: #596488;
    border-color: #596488;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #596488;
    border-color: #596488;
}

.btn-outline-secondary {
    color: #97a4af;
    border-color: #bcc8d3;
}
.btn-outline-secondary:hover {
    color: #000;
    background-color: #a9b5c0;
    border-color: #98a3ad;
}

.bg-button-main {
    background-color: #596488;
}

#bg-title-dark {
    background-color: #424e75;
    color: #fefefe;
}